{% extends "baseexecutive.html" %}
{% block konten %}
{% load static %} 
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                            Association Excel Data
                        </h1>
                        <div class="page-header-subtitle">Example dashboard overview and content summary</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container mt-n10">
        <div class="row">
            <div class="col-xxl-4 col-xl-12 mb-4">
                <div class="card h-100">
                    <div class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-xxl-12">
                                <div class="text-center px-4 mb-4 mb-xl-0 mb-xxl-4">
                                    <h1 class="text-primary">Welcome Back!</h1>
                                    <p class="text-gray-700 mb-0">It's time to get started! View new opportunities now, or continue on your previous work.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-xxl-12 text-center"><img class="img-fluid" src="{% static 'dist/assets/img/freepik/at-work-pana.svg' %}" style="max-width: 26rem;" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Example Colored Cards for Dashboard Demo-->
        {% if 0 in product %}
        {% else %}
        <div class="card mb-4">
        
            <div class="card-header">Data Prediksi Penjualan Produk </div>
            <div class="card-header">
                <a class="btn btn-success" href="{% url 'export-csv-association' %}">Export CSV</a>
            </div>

            <div class="card-body">
                <div class="datatable">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Data Produk Pertama</th>
                                <th>Data Prediksi Pembelian Produk Kedua</th>
                                <th>Nilai Minimum Confidence</th>
                                <th>Nilai Minimum Support</th>
                                <th>Hasil Nilai Confidence</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in pred %}
                            <tr>
                            <td>{{data.dataProduct}}</td>
                            <td>{{data.dataPredict}}</td>
                            <td>{{data.minConf}}</td>
                            <td>{{data.minSupp}}</td>
                            <td>{{data.valuePredict}}</td>
                           </tr>
                           {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Example DataTable for Dashboard Demo-->
        <div class="card mb-4">
            <div class="card-header">Data Input Prediksi Penjualan Produk </div>
            <div class="card-header">
                <img id="myImg" src="{% static 'dist/assets/img/freepik/format-data-association.png' %}" alt="Format Data Excel" style="width:100%;max-width:300px">
                <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
                </div>
            </div>

            <script>
                // Get the modal
                var modal = document.getElementById("myModal");
                
                // Get the image and insert it inside the modal - use its "alt" text as a caption
                var img = document.getElementById("myImg");
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                img.onclick = function(){
                  modal.style.display = "block";
                  modalImg.src = this.src;
                  captionText.innerHTML = this.alt;
                }
                
                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                
                // When the user clicks on <span> (x), close the modal
                span.onclick = function() { 
                  modal.style.display = "none";
                }
            </script>
            <div class="card-body">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <input class="form-control mb-3" type="file" id="file1" name="file">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputMinSupp">Min. Support</label>
                                <input class="form-control py-4" id="inputMinSupp" name="inputMinSupp" type="number" step="0.01" placeholder="Minimum Support" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputMinConf">Min. Confidence</label>
                                <input class="form-control py-4" id="inputMinConf" name="inputMinConf" type="number" step="0.01" placeholder="Minimum Confidence" value=""/>
                            </div>
                        </div>
                    </div>
                    <button id="button" class="btn btn-primary" type="submit">Predict Association Rule</button>
                    <script>
                    $(document).ready(function () {
                        $('button').prop('disabled', true);
                        $('.form-control').on('change', function () {
                            var fileEmpty = $('#file1').get(0).files.length === 0;
                            var minConf = $("#inputMinConf").val();
                            var minSupp = $("#inputMinSupp").val();
                            if (!fileEmpty && minConf != '' && minSupp != '') {
                                $('button').prop('disabled', false);
                            } else {
                                $('button').prop('disabled', true);
                            }
                        });
                    });
                    </script>
                </form>
            </div>

        </div>
    </div>
</main>
{% endblock konten %}