{% extends "baseexecutive.html" %}
{% block konten %}
{% load static %} 
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                            Dashboard Association
                        </h1>
                        <div class="page-header-subtitle">Example dashboard overview and content summary</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container mt-n10">
        <div class="row">
            <div class="col-xxl-4 col-xl-12 mb-4">
                <div class="card h-100">
                    <div class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-xxl-12">
                                <div class="text-center px-4 mb-4 mb-xl-0 mb-xxl-4">
                                    <h1 class="text-primary">Welcome Back!</h1>
                                    <p class="text-gray-700 mb-0">It's time to get started! View new opportunities now, or continue on your previous work.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-xxl-12 text-center"><img class="img-fluid" src="{% static 'dist/assets/img/freepik/at-work-pana.svg' %}" style="max-width: 26rem;" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Example Colored Cards for Dashboard Demo-->

        <!-- Example DataTable for Dashboard Demo-->
        <div class="card mb-4">
            <div class="card-header">Data Prediksi Penjualan Produk </div>
            <div class="card-header">
                <a class="btn btn-success" href="{% url 'export-csv-association' %}">Export CSV</a>
            </div>
            <div class="card-body">
                <div class="datatable">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Data Pembelian Produk Pertama</th>
                                <th>Data Prediksi Pembelian Produk Kedua</th>
                                <th>Nilai Minimum Confidence</th>
                                <th>Nilai Minimum Support</th>
                                <th>Hasil Nilai Confidence</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in pred %}
                            <tr>
                            <td>{{data.dataProduct}}</td>
                            <td>{{data.dataPredict}}</td>
                            <td>{{data.minConf}}</td>
                            <td>{{data.minSupp}}</td>
                            <td>{{data.valuePredict}}</td>
                           </tr>
                           {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock konten %}