{% extends "base.html" %}
{% block konten %}
{% load static %}
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                            Data Pembelian
                        </h1>
                        <div class="page-header-subtitle">Example dashboard overview and content summary</div>
                    </div>
                    <div class="col-12 col-xl-auto mt-4">
                        <button class="btn btn-white btn-sm line-height-normal p-3" id="reportrange">
                            <i class="mr-2 text-primary" data-feather="calendar"></i>
                            <span></span>
                            <i class="ml-1" data-feather="chevron-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container mt-n10">
        <div class="row">
            <div class="col-xxl-4 col-xl-12 mb-4">
                <div class="card h-100">
                    <div class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-xxl-12">
                                <div class="text-center px-4 mb-4 mb-xl-0 mb-xxl-4">
                                    <h1 class="text-primary">Welcome Back!</h1>
                                    <p class="text-gray-700 mb-0">It's time to get started! View new opportunities now, or continue on your previous work.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-xxl-12 text-center"><img class="img-fluid" src="{% static 'dist/assets/img/freepik/at-work-pana.svg' %}" style="max-width: 26rem;" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Example Colored Cards for Dashboard Demo-->

        <!-- Example DataTable for Dashboard Demo-->
        <div class="card mb-4">
            <div class="card-header"> Edit Data Pembelian</div>
             <div class="card-body">
                 <form method="POST">
                     {% csrf_token %} 
                     <div class="form-group">
                         <label class="small mb-1" for="inputNamaBarang">Nama Pembelian Barang</label>
                         <select class="form-control" id="inputNamaBarang" name="id_barang" >
                            {% for data in dataB %}
                                <option value="{{data.id_barang}}" {% if data.id_barang == dataPemb.id_barang.id_barang %} selected{% endif %} >{{data.nama_barang}}</option>
                            {% endfor %}  
                        </select>
                     </div>
                     <div class="form-group">
                         <label class="small mb-1" for="inputJenisBarang">Supplier Pembelian Barang</label>
                         <select class="form-control" id="inputNamaSupplier" name="id_supplier"  >
                            {% for data in dataS %}
                                <option value="{{data.id_supplier}}" {% if data.id_supplier == dataPemb.id_supplier.id_supplier %} selected{% endif %} >{{data.nama_supplier}}</option>
                            {% endfor %}  
                        </select>
                     </div>
                     <div class="form-group">
                         <label class="small mb-1" for="inputKategoriBarang">Jumlah Pembelian Barang</label>
                         <input class="form-control py-4"  type="number"  name="jumlah_barang_pembelian" value="{{dataPemb.jumlah_barang_pembelian}}"/>
                     </div>
                     <div class="form-group">
                        <label class="small mb-1" for="inputTanggalPembelianBarang">Tanggal Pembelian Barang</label>
                        <input class="form-control py-4"  type="datetime-local"  name="created_at" value="{{dataPemb.created_at}}"/>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="inputTanggalKadaluarsaBarang">Tanggal Kadaluarsa Barang</label>
                        <input class="form-control py-4"  type="datetime-local"  name="expired_at" value="{{dataPemb.expired_at}}"/>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                         <input class="btn btn-primary" type="submit" value="Simpan">
                    </div>
                 </form>
             </div>
        </div>
    </div>
</main>
{% endblock konten %}
