{% extends "basedashboardadmin.html" %}
{% block konten %}
{% load static %} 
<main>
    <!-- Main page content-->
    <div class="container mt-5">
        <!-- Custom page header alternative example-->
        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
            <div class="mr-4 mb-3 mb-sm-0">
                <h1 class="mb-0">Dashboard</h1>
                <div class="small">
                    <p id="date"></p>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script>
                    const d = new Date();
                    let date = d.toDateString();
                    let time = d.toLocaleTimeString();
                    document.getElementById("date").innerHTML = date + ' ' + time;
                </script>
            </div>
        </div>

        <!-- Example DataTable for Dashboard Demo-->
        <div class="card mb-4">
            <div class="card-header"> Edit Data Profile</div>
                <div class="card-header p-4 p-md-5 border-bottom-0 bg-gradient-primary-to-secondary text-white-50">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 col-lg-auto mb-5 mb-lg-0 text-center text-lg-left">
                            <!-- Invoice branding-->
                            {% if dataU.image %}
                            <img class="invoice-brand-img rounded-circle mb-4" src="{{ dataU.image.url }}" alt=""  width="100" height="100"/>
                            {% else %}
                            <img class="invoice-brand-img rounded-circle mb-4" src="{% static 'dist/assets/img/freepik/profiles/user.png' %}" alt=""  width="100" height="100"/>
                            {% endif %}
                            <div class="h2 text-white mb-0">{{dataU.full_name}}</div>
                            {{dataU.email}}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %} 
                        <div class="form-group">
                            <label class="small mb-1" for="inputFullName">Full Name</label>
                            <input class="form-control py-4" type="text" name="full_name" value="{{dataU.full_name}}"/>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputFirstName">First Name</label>
                            <input class="form-control py-4"  type="text"  name="first_name" value="{{dataU.first_name}}" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputLastName">Last Name</label>
                            <input class="form-control py-4"  type="text"  name="last_name" value="{{dataU.last_name}}"/>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputEmail">Email</label>
                            <input class="form-control py-4"  type="text"  name="email" value="{{dataU.email}}"/>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputImage">Image Profile</label>
                            <input class="form-control" type="file" name="image"/>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <input class="btn btn-primary" type="submit" value="Simpan">
                        </div>
                    </form>
                </div>
        </div>


    </div>
</main>
{% endblock konten %}