{% extends "basedashboardadmin.html" %}
{% block konten %}
{% load static %} 
<main>
    <!-- Main page content-->
    <div class="container mt-5">
        <!-- Custom page header alternative example-->
        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
            <div class="mr-4 mb-3 mb-sm-0">
                <h1 class="mb-0">Dashboard</h1>
                <div class="small">
                    <p id="date"></p>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script>
                    const d = new Date();
                    let date = d.toDateString();
                    let time = d.toLocaleTimeString();
                    document.getElementById("date").innerHTML = date + ' ' + time;
                </script>
            </div>
        </div>

        <!-- <form id="id_password_change_form" method="POST" class="form-signin">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
              <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
              <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
              <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
          
              {% for field in form %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              {% endfor %}
          
            <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block" type="submit">Update</button>  
        </form> -->

        <div class="card mb-4">
            <div class="card-header"> Change Password</div>
            <div class="card-body">
                <form id="id_password_change_form"  method="POST">
                    {% csrf_token %} 
                    <div class="form-group">
                        <label class="small mb-1" for="inputOldPassword">Old Password</label>
                        <input class="form-control py-4" type="password" name="old_password" id="id_old_password" required="true"/>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="inputNewPassword">New Password</label>
                        <input class="form-control py-4"  type="password"  name="new_password" id="new_password" required="true" />
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="inputKConfirmNewPassword">Confirm New Password</label>
                        <input class="form-control py-4"  type="password"  name="new_confirm_password" id="confirm_new_password" required="true"/>
                    </div>

                    {% for field in form %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}

                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <input class="btn btn-primary" type="submit" value="Simpan">
                    </div>
                 </form>
             </div>
        </div>



    </div>
</main>
{% endblock konten %}